---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between items-center">
      <div class="flex items-center gap-2">
        <img src="/profile.jpeg" alt="Profile Picture" class="w-10 h-10 rounded-full object-cover" />
        <div class="flex items-center gap-2">
          <Link href="/" underline={false}>
            <div class="font-semibold">
              {SITE.NAME}
              <div class="text-sm opacity-75 font-light">
                Software Engineer
              </div>
            </div>
          </Link>
        </div>
      </div>
      <nav class="flex gap-1">
        <!-- <Link href="/blog">
          blog
        </Link>
        <span>
          {`/`}
        </span> -->
        <Link href="/work">
          work
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects">
          projects
        </Link>
      </nav>
    </div>
  </Container>
</header>
